<p id="notice"></p>
<div class="row">
    <div class="jumbotron col-md-8 offset-md-2">

<p>ようこそ、ながのCAKEへ！</p>
<p>このサイトは、ケーキ販売のECサイトになります。</p>
<p>会員でない方も商品の閲覧はできますが、</p>
<p>購入には会員登録が必要になります。</p>
  </div>

</div>
<h2>新着商品</h2>
<div class="row">
<% @items.first(4).each do |item| %>
    <div class="col-md-3">
      <ul class="list-inline">
    <% if item.image.attached? %>
      <%= link_to item_path(item.id) do %>
        <%= image_tag item.image %>
      <% end %>
    <% else %>
      <%= link_to item_path(item.id) do %>
        <%= image_tag 'default-image', size: "200x200" %>
      <% end %>
    <% end %>
    <br>

    <%= item.name %><br>
    <p>商品価格（税込）<p><br>
      <%= item.add_tax_price.to_s(:delimited) %> 円
      </ul>
    </div>
  <% end %>


</div>
<%= link_to 'すべての商品を見る >', items_path, class: "float-right" %>
</div>
