<div class="container takasa">
  <div class="row">
    <div class="col-xs-12">
      <h2>注文履歴詳細</h2>

      <table>
       <tr>
        <th class= "order-show">購入者</th>
        <td><%= @order.name %>

         <tr>
        <th class= "order-show">注文日</th>
        <td><%= @order.created_at.strftime("%Y-%m-%d %H:%M:%S") %></td>

          <tr>
        <th class= "order-show">配送先</th>
        <td>〒<%= @order.postal_code %> <%= @order.address %><br><%= @order.name %></td>

      </tr>

      <tr>
        <th class= "order-show">支払い方法</th>
        <td><%= @order.payment_i18n %></td>
      </tr>

      </table>
    </div>
  </div>
  <div class="orders-show">
    <div class=" col-xs-9">
      <table class="table ">
        <tr>
          <th>商品名</th>
          <th>単価（税込）</th>
          <th>数量</th>
          <th>小計</th>
          <th></th>
        </tr>
        <%  @order_items.each do |order_item| %>
        <tr>
          <td><%= order_item.item.name %></td>
          <td><%= order_item.add_tax_price.to_s(:delimited) %> </td>
          <td><%= order_item.quantity %></td>
          <td><%= ((order_item.add_tax_price)*(order_item.quantity)) %> </td>
          <% @total+= ((order_item.add_tax_price)*(order_item.quantity)) %>
        </tr>
        <% end %>
      </table>
    </div>


    <div class="total">
    <div class="row justify-content-end">
     <h4> 商品合計　　<%= @total %>円</h4>
    </div>
    <div class="row justify-content-end">
     <h4>送料　　　<%= postage = @order.postage.to_i %>円</h4>
    </div>
    <div class="row justify-content-end">
     <h4>請求金額合計　<%= @total + postage %>円</h4>
    </div>
    </div>
  </div>

</div>

