<h2>新規会員登録</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "public/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :"名前(性)" %>
    <%= f.text_field :last_name %>
    <%= f.label :"(名)" %>
    <%= f.text_field :first_name %>
  </div>

  <div class="field">
    <%= f.label :"フリガナ(セイ)" %>
    <%= f.text_field :last_name_kana %>
    <%= f.label :"(メイ)" %>
    <%= f.text_field :first_name_kana %>

  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <%= f.label :"郵便番号(ハイフンなし)" %>
  <%= f.text_field :postal_code %>

  <%= f.label :"住所" %>
  <%= f.text_field :address %>

  <%= f.label :"電話番号(ハイフンなし)" %>
  <%= f.text_field :telephone_number %>




  <div class="field">
    <%= f.label :"パスワード" %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> 文字以上)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :パスワード（確認用） %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

 <div>
  <%= f.submit "新規登録",class: "btn btn-success" %>
 </div>

<% end %>

<h3>既に登録済みの方</h3>
<a href="sign_in">こちら</a>から新規登録を行なってください。
