<div class="container">
  <div class="row">
    <div class="col-11">
      <h3 class="my-5 mini-title">注文履歴詳細</h3>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <strong>注文情報</strong>
      <table class="table table-bordered table-background">
        <tbody>
          <tr>
            <td class="table-active">注文日</td>
            <td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
          </tr>
          <tr>
            <td class="table-active">配送先</td>
            <td>
              <p><%= @order.postal_code %><br>
                <%= @order.address %><br>
                <%= @order.name %>
              </p>
            </td>
          </tr>
          <tr>
            <td class="table-active">支払い方法</td>
            <td><%= @order.payment_i18n %></td>
          </tr>

        </tbody>
      </table>
    </div>

    <div class="col">
      <strong>請求情報</strong>
      <table class="table table-bordered table-background">
        <tr>
          <td class="table-active">商品合計</td>
          <td><%= @items_price.to_s(:delimited) %></td>
        </tr>
        <tr>
          <td class="table-active">送料</td>
          <td><%= @order.postage.to_s  %></td>
        </tr>
        <tr>
          <td class="table-active"><strong>ご請求額</strong></td>
          <td><%= (@items_price+@order.postage).to_s  %></td>
        </tr>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col mt-3">
      <strong>注文内容</strong>
      <table class="table table-bordered">
        <thead>
          <tr class="table-background">
            <th class="table-active">商品</th>
            <th class="table-active">単価（税込）</th>
            <th class="table-active">個数</th>
            <th class="table-active">小計</th>
          </tr>
        </thead>
        <tbody>
          <% @order.order_items.all.each do |order_item| %>
            <tr class="table-background">
              <td><%= order_item.item.name %></td>
              <td>¥<%= (order_item.item.add_tax_price).to_s(:delimited) %></td>
              <td><%= order_item.quantity %>　個</td>
              <td>¥<%= (order_item.item.add_tax_price*order_item.quantity).to_s(:delimited) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>