<div class="flex-container">
  <div class="row">
    <div class="col-md-3 offset-md-1">


    </div>
      <div class="col-md-3">
             <h1>商品一覧(全<%=@items.count %>件）</h1>
      </div>


      <div class="row">
        <% @items.each do |item| %>
         <div class="col-3">
           <ul>
             <% if item.image.attached? %>
               <%= link_to item_path(item.id) do %>
                 <%= image_tag item.get_item_image(200,200) %>
               <% end %>
              <% else %>
                <%= link_to item_path(item.id) do %>
                  <%= image_tag 'default-image',size: "200x200" %>
                <% end %>
              <% end %><br>
              <%= item.name %>
              <p>商品価格（税込）</p>
              　<%= item.add_tax_price.to_s(:delimited) %> 円
           </ul>
         </div>
        <% end %>
      </div>


  </div>
</div>