<div class="container">
  <div class="row">
    <div class="col-md-4 offset-md-1">
    <% if @item.image.attached? %>
    <%= image_tag @item.image(200,200) %>
    <% else %>
      <%= image_tag 'default-image', size: "200x200" %>
    <% end %>
    </div>
    <div class="col-md-4 offset-md-1">
    <h3><b><%= @item.name %></b></h3>
    <p id="notice"></p>
    <%= @item.introduction %>
    <p id="notice"></p>
    <b>￥<%= @item.add_tax_price.to_s(:delimited) %></b>(税込)
    <p id="notice"></p>
    <%= form_with model: @cart_item,url: cart_items_path do |f| %>
    <%= f.hidden_field :item_id, :value =>@item.id %>
    <%= f.label :個数 %>
    <%= f.select :quantity, [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] %>&emsp;
    <%= f.submit "カートに入れる", class:"btn btn-success" %>
    <% end %>
  </div>
  </div>
  </div>
</div>