<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <a class="navbar-brand" href="/homes">NaganoCake</a>


          <bouttn class="navbar-toggler collapsed" type="button"
                  data-toggle="collapse" data-target="#navbarNavDropdown"
                  aria-controls="navbarNavDropdown"
                  aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </bouttn>
          <div class="navbar-collapse collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
              <% if admin_signed_in? %>
                <li>
                  <%= link_to admin_items_path,class: 'nav-link text-light' do%>
                  <i class="fas fa-home"></i> 商品一覧
                  <% end %>
                </li>

                <li>
                  <%= link_to admin_customers_path,class: 'nav-link text-light' do%>
                  <i class="fas fa-users"></i> 会員一覧
                  <% end %>
                </li>
                <li>
                  <%= link_to admin_root_path,class: 'nav-link text-light' do%>
                  <i class="fas fa-book-open"></i> 注文履歴一覧
                  <% end %>
                </li>
                <li>
                  <%= link_to  destroy_admin_session_path, method: :delete,class: 'nav-link text-light' do %>
                  <i class="fas fa-sign-out-alt"></i> ログアウト
                  <% end %>
                </li>
              <% elsif customer_signed_in? %>
                <%= link_to customers_my_page_path, class:'nav-link text-light' do %>
                <i class="fas fa-sign-out-alt"></i> マイページ
                <% end %>
                <%= link_to items_path,class:'nav-link text-light' do %>
                <i class="fas fa-sign-out-alt"></i> 商品一覧
                <% end %>
                <%= link_to cart_items_path,class:'nav-link text-light' do %>
                <i class="fas fa-sign-out-alt"></i> カート
                <% end %>
                <%= link_to destroy_customer_session_path,class:'nav-link text-light', method: :delete do %>
                <i class="fas fa-sign-out-alt"></i> ログアウト
                <% end %>
              <% else %>
                <li>
                  <%= link_to admin_about_path,class: 'nav-link text-light' do%>
                  <i class="fas fa-home"></i> About
                  <% end %>
                </li>
                <li>
                  <%= link_to admin_items_path,class: 'nav-link text-light' do%>
                  <i class="fas fa-link"></i> 商品一覧
                  <% end %>
                </li>
                <li>
                  <%= link_to admin_customers_path,class: 'nav-link text-light' do %>
                  <i class="fas fa-user-plus"></i> 会員一覧
                  <% end %>
                </li>
                <li>
                  <%= link_to  customer_session_path,class: 'nav-link text-light' do %>
                  <i class="fas fa-sign-in-alt"></i> ログイン
                  <% end %>
                </li>
              <% end %>
              </ul>
            </div>
          </div>
        </nav>
    </header>

<%= yield %>
  </body>
</html>
